/* src/components/ErrorPage.css */
.mainContainerEmailVerification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  text-align: center;
  padding: 20px;
}
