.mainSection{
  
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.IconImage{
    height: 120px;
    width: 120px;
}
.div_iconimage{
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    max-width: 120px;
}
.FoamCard{
    /* border: 2px solid red; */
    height: auto;
    padding:1.2rem;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.registerClass{
    font-size: 0.8rem;
    font-weight: 100;
}
.RegisterButton{
    width: 100%;
    background: transparent;
    border: 1px solid #0d6efd;
    padding: 5px 0 5px 0;
    border-radius: 5px;
}
.RegisterButton:hover{
    cursor: pointer;
}
.registerDiv{
    position: relative;
    top: 100%;
}

@media only screen and (max-width: 600px) {
    .FoamCard{
        width: 95vw;
        box-shadow: none;
        
    }

    
.IconImage{
    height: 60px;
    width: 60px;
}

}